#showcase {
    width: 50%;
    margin: 10% 25%;
}
#showcase form {
    width: 100%;
    margin: 0;
    height: 40%;
    background-color: #ddd;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2% 3%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 25% auto;
}
#showcase form label {
    height: 40px;
}
#showcase form input {
    height: 25px;
}
#showcase form input[type=submit] {
    grid-column: 1 / 3;
    width: 40%;
    margin: 0 auto;
}
